* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fieldset-grp {
  padding: 15px;
}

#fieldset-main {
  padding: 30px;
  background-color: gainsboro;
}

#fieldset-plot {
  margin-top: 5px;
  background-color: whitesmoke;
}

#api_key {
}

#legend-main {
  font-size: 2em;
}

label {
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
}

.input-grp {
  width: 250px;
  height: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

span {
  font-size: 15px;
}

#btn {
  width: 125px;
  height: 30px;
  margin-top: 10px;
}

#btn:hover {
  border-color: orange;
}

#api-input:invalid{
  
}